<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile
    [colspan] = 4
    [rowspan] = 1
    >
        {{athlet.name}}
    </mat-grid-tile>
    <mat-grid-tile
    [colspan] = 2
    [rowspan] = 2
    >
    Daten:
    <ul>
        <li>Alter: {{athlet.age}}</li>
        <li>Größe: {{showHeight()}} cm</li>
        <li>Gewicht: {{showWeight()}} kg</li>
    </ul>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan] = 2
    [rowspan] = 2
    >
    Erfolge:
    <ul>
        <li *ngFor="let achievment of athlet.achievements">{{achievment}}</li>
    </ul>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan] = 4
    [rowspan] = 1>
    {{athlet.description}}
    </mat-grid-tile>
  </mat-grid-list>
  