<mat-spinner *ngIf="spinner==true" class="spinner"></mat-spinner>
<mat-grid-list cols="4" rowHeight="3:1" *ngIf="spinner==false">
    <mat-grid-tile
    [colspan] = 4
    [rowspan] = 1
    class="name"
    >
        <strong>{{athlet.name}}</strong>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan] = 1
    [rowspan] = 2
    class="club"
    >
        <strong>Verein</strong>
        <ul>
            <li *ngFor="let club of athlet.clubs" class="clubTable">{{club}}</li>
        </ul>
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = 1
    [rowspan] = 2
    class="data"
    >
    Daten:
    <ul>
        <li>Alter: {{athlet.age}}</li>
        <li>Größe: {{showHeight()}} cm</li>
        <li>Gewicht: {{showWeight()}} kg</li>
    </ul>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan] = 2
    [rowspan] = 2
    class="achiev"
    >
    Erfolge:
    <ul>
        <li *ngFor="let achievment of athlet.achievments">{{achievment}}</li>
    </ul>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan] = 4
    [rowspan] = 1
    class="descript"
    >
    {{athlet.description}}
    </mat-grid-tile>
  </mat-grid-list>
  