.name {
    border: white solid 20px;
    background-color: #7c7c7c;
}

.data {
    border: white solid 20px;
    background-color: #969696
}

.achiev {
    border: white solid 20px;
    background-color: #6b6b6b;
}

.descript {
    border: white solid 20px;
    background-color: #7c7c7c;
}

.club {
    border: white solid 20px;
    background-color: #aaaaaa;
}

.spinner {
    margin-left: 45%;
    margin-top: 10%;
}

.clubTable {
    border-left: 2px solid black;
    border-collapse: true;
}