<p>impressum works!</p>
<table>
    <tr>
        <th>Anerkennung</th>
    </tr>
    <tr>
        <td><a href="https://www.flaticon.com/free-icons/info" title="info icons">Info icons created by Freepik - Flaticon</a></td>
    </tr>
    <tr>
        <td><a href="https://www.flaticon.com/free-icons/calendar" title="calendar icons">Calendar icons created by Freepik - Flaticon</a></td>
    </tr>
    <tr>
        <td><a href="https://www.flaticon.com/free-icons/settings" title="settings icons">Settings icons created by Freepik - Flaticon</a></td>
    </tr>
    <tr>
        <td><a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a></td>
    </tr>
</table>