<p>
    <mat-toolbar>
        <button mat-icon-button class="menu-icon" aria-label="Example icon-button with menu icon">
            <a href="impressum">
              <img src="https://github.com/Cadamir/training/blob/main/training-app/src/assets/menu.png?raw=true" width="20px">
            </a>
        </button>
      <span>Training</span>
      <span class="spacer"></span>
      <button mat-icon-button class="menu-icon">
            <img src="https://github.com/Cadamir/training/blob/main/training-app/src/assets/calendar.png?raw=true" width="20px">
      </button>
      <button mat-icon-button class="menu-icon">
        <img src="https://github.com/Cadamir/training/blob/main/training-app/src/assets/user.png?raw=true" width="20px">
      </button>
      <button mat-icon-button class="menu-icon">
        <img src="https://github.com/Cadamir/training/blob/main/training-app/src/assets/settings.png?raw=true" width="20px">
      </button>
    </mat-toolbar>
</p>